* {
  margin: 0;
  padding: 0;
}


.topnav {
  width: 100%;
  justify-content: flex-start;
  background: linear-gradient(to bottom right, #b3c9f3 14%, #6abcec 100%);
  overflow: hidden;
  display: flex;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-size: 17px;
}

canvas{
  margin-left: 30%;
}
.topnav a:hover {
  background: linear-gradient(to bottom right, #C9DBFC 50%, #CCC4F5  90%);
  color: rgb(76, 57, 248);
  border-radius: 40%;
}

header ul {
  display: flex;
  justify-content: flex-start;
}

.logonk {
  width: 90px;
  height: 90px;
  margin-right: 120px;
  list-style-type: none;
}

.glav {
  margin: 10px 10px 10px 200px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
}


li {
  list-style-type: none;
}

span {
  color: rgb(94, 76, 95);
  font-size: 60px;

}

.foodimg {
  width: 50px;
  height: 50px;
  margin: 0px 10px 5px 0px;
  display: flex;
  justify-content: right;
  position: relative;
  bottom: auto;
}

.cont {
  margin: auto;
  padding: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 350px;
  height: 60px;
  margin: 15px 15px 15px 15px;
}


footer {
  padding: 5px;
  background: linear-gradient(to bottom right, #a7c0ee 14%, #44b4f5 100%);
  color: white;
}

.foott {
  margin: 20px 0px 0px 5px;
  display: flex;
}

.buttons {
  margin: 70px;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  display: flex;

}


.button1:hover {
  background-color: rgb(247, 218, 223);
  color: white;
}

.button2:hover {
  background-color: rgb(210, 244, 159);
  color: white;
}

.button3:hover {
  background-color: rgb(247, 207, 134);
  color: white;
}

.button4:hover {
  background-color: rgb(230, 238, 252);
  color: white;
}
.button5:hover {
  background-color: rgb(238, 243, 102);
  color: white;
}

.butt:hover {
  background-color: rgb(230, 238, 252);
  color: white;
}


.button1 {
  width: 200px;
  height: 60px;
  font-size: 30px;
  color: #b54eb3;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(247, 218, 223)
}

.button2 {
  width: 200px;
  height: 60px;
  background-color: rgb(210, 244, 159);
  font-size: 30px;
  color: #328940;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(210, 244, 159);


}

.button3 {
  width: 200px;
  height: 60px;
  background-color: rgb(247, 207, 134);
  font-size: 30px;
  color: #ad8823;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(247, 207, 134);
}

.button4 {
  width: 200px;
  height: 60px;
  background-color: rgb(230, 238, 252);
  font-size: 30px;
  color: #3d5f9f;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(191, 211, 245);

}

.button5 {
  width: 200px;
  height: 60px;
  background-color: rgb(251, 251, 238);
  font-size: 30px;
  color: #e4f530;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(245, 241, 191);

}

body {
  background-color: #e3eaf7;
  /* margin: 120px; */
}

.grass {
  width: 120px;
  height: 100px;
}

.eater {
  width: 120px;
  height: 100px;
}


h1 {

  color: #3d5f9f;
  font-size: 50px;
}
/* 
.butt {
  width: 200px;
  height: 60px;
  background-color: rgb(230, 238, 252);
  font-size: 30px;
  color: #3d5f9f;
  border-radius: 30%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid rgb(230, 238, 252);
}
 */
.info {
  margin-left: 500px;
}

table {
  background-color: black;
}

tr {
  background: linear-gradient(to bottom right, #96e4f1 20%, #44b4f5 100%);
  font-size: 20px;
}

.nam {
  font-size: 40px;
  color: #1d3b74;
}

.namgr {
  color: #328940;
  font-size: 40px;
}

.namfo {
  font-size: 40px;
  color: #d48a36;

}

.namst {
  color: darkgray;
  font-size: 40px;
}

.namge {
  font-size: 40px;
  color: darkolivegreen;

}

.namea {
  font-size: 40px;
  color: rgb(212, 131, 174);

}



